/* all map containers must be full height */
html,
body,
.container-fluid,
.row,
.map {
	height: 100%;
}

.map{
	padding: 15px;
}
.row{
	padding: :0;
	margin: 0;
}
.container-fluid{
	padding-right: 0;
}
body{
	/*margin-top: 20px;*/
}

.google-map-canvas {
	width:100%;
	height: 100%;
	/*height:calc(100% - 20px);*/
}

h1{
	font-size: 50px;
}

.image{
	padding: 0;
}

.row{
	margin: 0;
}



@media only screen and (max-width: 992px){
	.container-fluid{
		padding-left: 0;
	}
}


@media only screen and (max-width: 768px){

	.map{

		height: 70%;
		height:calc(70% - 0px);
	}

	.vertical-align {
		display: flex;
		align-items: center;
	}

	.caption,
	.caption address,
	.caption h2,
	.caption p{
		margin: 0px;
		padding: 0px;
	}


	body{
		margin-top: 10px;
	}

	.glyphicon{
		font-size: 20px;
	}

	.page-header h1{
		font-size: 30px;
	}

	.page-header,
	.page-header h1,
	.page-header p{
		margin: 0px;
	}

	.page-header{
		padding-top: 9px;
	}
	.thumbnail{
		margin-top: 20px;
	}
	address h2{
		font-size: small;
	}
}

